.profile {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.profile__info-photo-portrait {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.profile__photo {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
}
.profile__info {
  align-items: center;
  display: flex;
}
.profile__info-name {
  color: #fff;
}
.profile__info-bio {
  color: #fff;
}
.button__open-form {
}
.button__add-post {
}
